.fondo {
    background-color: aqua;
}
.mitexto{
    font-size: 3em;
    color: brown;
}

.titulo{
    background-color: aquamarine;
    color: red;
}

#principal{
    font-size: 50px;
    border: 2px solid blue;
    width: 30vw;
    margin: 2em;
    padding: 0em 3em 0em 7em;
    border-radius: 10%;
}

.logo{
    height: 300px;
    width: 300px;
}

.contenedor-imagenes{
background-color: antiquewhite;
width: 85vw;
margin: auto;
margin-top: 1.5em;
border: 5px solid black;
border-radius: 5%;
padding: 2em;
display: flex;
flex-direction: row;
justify-content: space-evenly;
}

body{
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 20px;
}